@model agencija.Models.Korisnik

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#register-form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {
                        if (data.success) {
                            alert(data.message);
                            window.location.href = '@Url.Action("Login", "Account")';
                        } else {
                            $('#error-message').text(data.message);
                        }
                    },
                    error: function () {
                        alert("An error occurred while processing your request.");
                    }
                });
            });
        });
    </script>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"].ToString()</div>
    }
    <div class="center">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <h1>Signup</h1>
            <div class="txt_field">
                @Html.TextBoxFor(model => model.Ime, new { @class = "input", @type = "text", style = "border:none;", required = "required" })
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Ime, new { @class = "label" })
            </div>

            <div class="txt_field">
                @Html.TextBoxFor(model => model.Prezime, new { @class = "input", @type = "text", style = "border:none;", required = "required" })
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Prezime, new { @class = "label" })

            </div>

            <div class="txt_field">
                @Html.TextBoxFor(model => model.Email, new { @class = "input", @type = "email", style = "border:none;", required = "required" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Email, new { @class = "label" })

            </div>

            <div class="txt_field">
                @Html.TextBoxFor(model => model.Telefon, new { @class = "input", @type = "tel", style = "border:none;", required = "required" })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Telefon, new { @class = "label" })
            </div>

            <div class="txt_field">
                @Html.TextBoxFor(model => model.Username, new { @class = "input", @type = "text", style = "border:none;", required = "required" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Username, new { @class = "label" })
            </div>

            <div class="txt_field">
                @Html.TextBoxFor(model => model.Sifra, new { @class = "input", @type = "password", style = "border:none;", required = "required" })
                @Html.ValidationMessageFor(model => model.Sifra, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Sifra, new { @class = "label" })

            </div>
            <input type="submit" value="Register" class="input" />
            <div class="signup_link">
                You already have an account? <a href="@Url.Action("Login", "Account")">Login</a>
            </div>


            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <label class="label-success">@ViewBag.Message</label>
                    </div>

                </div>*@
        }

    </div>
    <script>
    var message = '@TempData["Message"]';
    if (message != '') {
        alert(message);
    }
    </script>
</body>
</html>
