@model PagedList.IPagedList<agencija.Models.Ogla>
@using PagedList.Mvc;
.
@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>




<div class="container body-content">
    <div class="pretrazivac">
        <div class="heder">
            <h1 class="naslov"> Poslova</h1>
            <p id="naslov">Pronadjite posao ili zaposlite nekoga</p>
        </div>
        <div class="row" id="inputi">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="col-xs-6 col-md-3" id="ispisati">

                    @Html.TextBox("Search_Data", "", new { @class = "form-control", @id = "input", placeholder = "Kljucna rec" })

                </div>
                <div class="col-xs-6 col-md-3">
                    @Html.DropDownList("Emp_Dept", ViewBag.Emp_Data as SelectList, "Izaberi mesto", new { @class = "form-control", @id = "combo" })
                </div>
                <div class="col-xs-6 col-md-3">
                    @Html.DropDownList("iskustvo", ViewBag.Emp_Data2 as SelectList, "Iskustvo ", new { @class = "form-control", @id = "combo" })
                </div>

                <div class="col-xs-6 col-md-3">
                    <input id="dugme" type="submit" class="btn btn-danger" value="Pretraga" />
                </div>
            }
        </div>
    </div>@*Kraj Search olgasa*@


    @foreach (var item in Model)
    {
        <div class="detalji-kompanije">
            <div class="posao">
                <h4 style="float:left;">
                    <a href="@Url.Action("DetaljiOglas","Home", new { id = item.idOglas})"><b>@Html.DisplayFor(modelItem => item.naslov)</b></a>
                </h4><br /><br />
                <p style="color:gray; font-size:medium"><b>@Html.DisplayFor(modelItem => item.Kompanija.naziv)</b></p><br />
                <i class="glyphicon glyphicon-map-marker"></i>
                <span style="color:gray; font-size:medium"><b>@Html.DisplayFor(modelItem => item.Mesto.naziv)</b></span><br />
                <i class="glyphicon glyphicon-time"></i>
                <span class="infoOglas" style="color:gray; font-size:medium"><b>@Html.DisplayFor(modelItem => item.istice)</b></span><br /><br />
                <button id="oglasIskustvo" class="btn btn-primary">@Html.DisplayFor(modelItem => item.Kategorija.naziv)</button>
                <button id="oglasIskustvo" class="btn btn-primary">@Html.DisplayFor(modelItem => item.Iskustvo.naziv)</button>
            </div>

        </div>

    }


    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/pretraga.js"></script>

