
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/Site.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @if (Session["idKompanija"] == null)
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><b href="#" style="color:cornflowerblue">AGENT@*@Model.naziv*@</b></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pregled oglasa<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="@Url.Action("OglasiKompanija", "Poslodavac")"><b style="color:gray">Lista Oglasa</b></a></li>
                                <li><a href="@Url.Action("OglasiKandidati", "Poslodavac")"><b style="color:gray">Kandidati</b></a></li>


                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b style="color:gray">User</b><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Logout", "Account")"><b style="color:gray">Logout</b></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><b href="#" style="color:cornflowerblue">POSLODAVAC@*@Model.naziv*@</b></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pregled oglasa<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="@Url.Action("OglasiKompanija", "Poslodavac")"><b style="color:gray">Lista Oglasa</b></a></li>
                                <li><a href="@Url.Action("OglasiKandidati", "Poslodavac")"><b style="color:gray">Kandidati</b></a></li>


                            </ul>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Objavite oglas", "ObjavljivanjeOglasa", "Poslodavac")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agenti<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("AgentiKompanija", "Poslodavac")"><b style="color:gray">Lista Agenata</b></a></li>
                                <li><a href="@Url.Action("CreateAgentiKompanija", "Poslodavac")"><b style="color:gray">Napravi Agenta</b></a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b style="color:gray">User</b><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Logout", "Account")"><b style="color:gray">Logout</b></a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav  navbar-right">
                        <li>@Html.ActionLink("Profil kompanije", "Index", "Poslodavac")</li>
                    </ul>
                </div>
            </div>
        </nav>
    }

    @*<div class="container body-content">*@
    @RenderBody()
    <hr />

    @*</div>*@



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
