@model IEnumerable<agencija.Models.Korisnik>

@{
    ViewBag.Title = "Agenti";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Agenti</h2>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Rola.nazivRola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifra)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Rola.nazivRola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifra)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "EditAgent", new { id=item.IdKorisnik }) |
            @Html.ActionLink("Details", "DetailsAgent", new { id=item.IdKorisnik }) |
            @Html.ActionLink("Delete", "DeleteAgent", new { id=item.IdKorisnik })
        </td>
    </tr>
}

</table>
