@model agencija.Models.Kompanija

@{
    ViewBag.Title = "DeleteKompanija";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>DeleteKompanija</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kompanija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sajt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sajt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aktivnaKompanija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aktivnaKompanija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idOglas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idOglas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
